*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    
}

header{
    /* width:99%; */
    
    /* background-color: #ffcb3b; */
    height: 135px;
    /* display: flex; */
    /* align-items: center; */
    /* box-shadow: 0px 0px 20px #a3a3a3;
    border-bottom: 3px solid #f3bc25; */
    /* margin:0 20px; */
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: none;
    color:black;
}
header img{
    width:200px;
    
}
.section__nav--big{}
/* ::-webkit-scrollbar {
    display: none;
    } */
    
nav{
    width:250px;
    background-color: #dfdfdf;
    overflow: auto;
    height:75vh;
    /* margin:auto; */
    
    /* border-left: 10px solid #c2c2c2; */
}

.container__section--nav nav{
    margin:auto;
    width:100vw;
    margin-top: 40px;
    position: fixed;
    background-color: #ffcb3b;
    height:80vh;
    left:-7px;
    z-index: 3;

}
.section__nav--big{
    display: block;
    position: relative;
    width:250px;
}
.navbar{
    padding:40px 30px !important;
    background-color: #ffcb3b !important;
}
.container__login{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:20px 0;
}
.container__login img{
    width:60px;
    border-radius: 100px;
    margin-bottom: 10px;
    border:2px solid white;
    
}
.container__login img:hover{
    border:2px solid black;
    
}
.container__login select{
    background-color: #e2b027;
    outline: none;
    padding:3px 6px;
    border-radius: 5px;
    border:none;
}
::-webkit-scrollbar{
    width:13px;
    background:#ffffff;
}
::-webkit-scrollbar-thumb{
    background-color: #ffcb3b;
    border: 3px solid white;
}





.container__modulos{
    background-color: #dfdfdf;
    padding: 10px 0;
}
.container__modulos {
    text-align: center;
}
.container__modulos li{
    text-decoration: none;
    list-style: none;
    padding:10px;
    background-color:#e9e9e9;
    border-radius: 5px;
    margin:4px 0;    

}
.container__modulos li:hover{
    background-color: #e2b027;
    cursor: pointer;
}

.container__modulos ul{
 margin:10px;
 padding:0;
}
main{
    display: flex;
  
}
iframe{
    width:99.5%;
    height: 100%;
    border:none;
}
body{
    margin:0;
    padding:0;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #ececec;
    height: 16px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 12px;
    text-decoration: none;
    font-style: none;
    color:black; 
   
   
}
footer a{
    text-decoration: none;
    font-style: none;
    color:black; 
}