*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
font-family:arial;
}
h1{
margin-top:35%;
text-align: center;
}
.form-login{

    width:450px;
    height:400px;
    background:#faa307;
    margin : auto ;
    margin-top : 100px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    
    color: white;
}
.buttons{
    width:100%;
    height:40px;
    background:#d00000;
    border:none;
    color:white;
    margin-bottom : 16px