@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body{
    margin: 0;
    padding: 0;
    background: white;
    background-size:cover;

}

header img{
    width: 10%;
    margin-left: 100px;
   
}
header a{
    padding: 6px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background: #ddb811;
    cursor: pointer;
    box-shadow: 10px 10px 10px black;
    margin-left: 85%;
    height: 40%;
    width: 50%;
     font-family: 'Rubik', sans-serif;
}
header a:hover{
    background: #fff;
}

.titulo h1{
    text-align: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    margin-top: 0.2%;
    color: black;
    text-shadow:10px 10px 10px #ddb811 ;
}

.formulario h1{

    padding: 15px;
    text-shadow:10px 10px 10px black;

}
::placeholder {
  color: gray;
}

.formulario {
  margin: 50px  auto;
  width: 30%;
  height: 350px;
  background:#ddb811;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  box-shadow: 10px 10px 10px black;
  border-radius: 15px 0px 15px 0px ;
}
.formulario{
    border-style: solid;
    border-color: black;
    border-width: 3px;

}

.formulario input{
     font-family: 'Rubik', sans-serif;
     background: white;
     color: #000;
     border-radius: 1px solid black;
     outline: 0px;
     box-shadow: 10px 10px 10px black;
     height: 20px;
     width: 200px;
     font-size: 15px;


}

.botones a{
     padding: 6px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background: #ddb811;
    cursor: pointer;
    box-shadow: 10px 10px 10px black;
    margin-left: 2%;
    height: 40%;
    width: 50%;
     font-family: 'Rubik', sans-serif;
   

}

 
 .botones a:hover{
    background: #fff;
 }
